~$ance 2 notas.docx
Avance 2 notas.docx
Bitácora.docx
parser.out
propuesta.docx
parsetab.py
~$opuesta.docx
parser.out
__pycache__/parsetab.cpython-310.pyc
avance 3 notas.docx
Avance2-A00826142.zip
~$ance 3 notas.docx
