~$ance 2 notas.docx
Avance 2 notas.docx
Bitácora.docx
parser.out
propuesta.docx
parsetab.py
~$opuesta.docx
parser.out
__pycache__/parsetab.cpython-310.pyc
avance 3 notas.docx
Avance2-A00826142.zip
~$ance 3 notas.docx
~$ance 5 notas.docx
avance 4 notas.docx
avance 5 notas.docx
Avance3-A00826142.zip
__pycache__/parsetab.cpython-310.pyc
parsetab.py
